<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>

<div class="main-content"> 
	{{>header}}

	<h1>{{errorMessage}}</h1>
</div>
	{{>footer}}

</body>
</html>