<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/img/weather.png">
	<title>About</title>
</head>
<body>

	<div class="main-content">
	{{>header}}
	<img src="/img/michaelscott.jpg" class="portrait">

	<p>This is {{text}}. He has a {{description}}</p>
	

	</div>
	
	{{>footer}}

</body>
</html>