<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/img/weather.png">
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
	<div class="main-content">
	{{>header}}

	<h1>{{message}}</h1>
	
	</div>
	
	{{>footer}}
	

</body>
</html>